# 빌드 산출물 및 캐시 파일 무시
/target
/build
/out

# IDE 관련 파일 및 설정 무시
*.iml
*.ipr
*.iws
.idea
.vscode

# Git 관련 파일 무시
.git
.gitignore

# macOS DS_Store 파일 무시
.DS_Store

# Node 모듈 (필요한 경우)
node_modules

# 로그 및 임시 파일 무시
*.log
/tmp
